.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .search-full-width {
    width: 100%;
  }
  .search-center {
      width: 500px;
      margin: 0 auto;
  }

  .spacer {
    margin-bottom: 10px;
  }