<div class="container">
  <div class="row" *ngIf="searchResults">

    <mat-toolbar>Search Results</mat-toolbar>
    <div class="not-found" *ngIf="searchResults.length === 0">
      <h1>Movie Not found</h1>
    </div>

    <mat-grid-list cols="3" rowHeight="500px" role="list">
      <mat-grid-tile *ngFor="let movie of searchResults">

        <mat-card class="home-card">
          <div mat-card-avatar class="home-header-image"></div>
          <img mat-card-image src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="{{movie.original_title}}">
        </mat-card>

        <mat-grid-tile-footer>
          <p>
            <a routerLink="/detail/{{ movie.id }}" href="#" class="btn btn-block btn-info">Movie Details</a>
          </p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="row" [hidden]="searchResults">

    <mat-toolbar>Now Playing</mat-toolbar>

    <mat-grid-list cols="3" rowHeight="500px" role="list">
      <mat-grid-tile *ngFor="let nowPlaying of nowPlayingMovies">

        <mat-card class="home-card">
          <div mat-card-avatar class="home-header-image"></div>
          <img mat-card-image src="https://image.tmdb.org/t/p/original/{{ nowPlaying.poster_path }}" alt="{{nowPlaying.original_title}}">
        </mat-card>
        <mat-grid-tile-footer>
          <p>
            <a routerLink="/detail/{{ nowPlaying.id }}" href="#" class="btn btn-block btn-info">Movie Details</a>
          </p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>